@tailwind base;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 28% 17%;

    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;

    --primary: 228 76% 42%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 215 28% 17%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 160 84% 39%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 228 76% 42%;

    --radius: 0.5rem;
  }
}

@tailwind components;

@tailwind utilities;
